{% extends 'base.html' %}

{% block title %}
ABOUT ME
{% endblock title %}

{% block style %}
<style>
    body {
        background-color: #ececec;
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 50px;

    }
    h4{
        font-family: Arial, sans-serif;
        color:#53d6f3;
    }
    h1{
        color:#fd252c
    }
</style>
{% endblock style %}

{% block content %}
<h1>COMING SOON</h1>
<h4>Lagi Proses</h4>
{% endblock content %}

{% block menu %}
<a href="{% url 'tugas'%}">HOME</a>
{% endblock menu %}
